@model IEnumerable<CoreWebApp.Models.TodoItem>
@{ Layout = "_Layout"; ViewBag.Title = "All Reservations";}

<h2>Todos</h2>
<a href="@Url.Action("Create","TaskModel")"> Lägg till ToDo </a>
<br />
<br />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Ändra/Ta bort</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Task in Model)
        {
            <tr class="btn-success">
                <td>@Task.Name </td>
                @if (Task.IsComplete == true)
                {
                    <td>Japp</td>
                }
                else
                {
                    <td>Näpp</td>
                }
                <td>
                    <a onclick="return confirm('Vill du ta bort?')" href="@Url.Action("Delete","TaskModel",new {id= Task.Id})">Ta bort</a> || <a href="@Url.Action("Edit","TaskModel",new { id = Task.Id })">Redigera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
